{{ define "main" }}
<main>
  <div class="universal-wrapper pt-3">
    <div class="universal-wrapper">

      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ partial "vis-container.html" . }}
    </div>
  </div>
  {{ partial "pagination.html" . }}
</main>
<head>
  {{ $scss := resources.Get "scss/vis.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $scss.Permalink }}"></link>
  <!-- Leaflet: https://leafletjs.com/ -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <!-- Leaflet MarkerCluster -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">

  <!-- Material Icons: https://material.io/ -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

  <!-- Tom Select: https://tom-select.js.org/ -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

  {{ $ts := resources.Get "ts/vis.ts" | js.Build | fingerprint }}
  <script src="{{ $ts.Permalink }}" defer></script>

  <!-- D3.js: https://d3js.org/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@3"></script>

  <!-- Leaflet: https://leafletjs.com/ -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

  <!-- Leaflet Smooth Wheel Zoom: https://github.com/mutsuyuki/Leaflet.SmoothWheelZoom -->
  {{ $leafletSmoothWheelZoom := resources.Get "js-plugins/SmoothWheelZoom.js" }}
  <script src="{{ $leafletSmoothWheelZoom.Permalink }}" defer></script>

  <!-- Leaflet Material Icons: https://github.com/ilyankou/Leaflet.IconMaterial -->
  {{ $leafletMaterialIcon := resources.Get "js-plugins/leaflet.icon-material.js" }}
  <script src="{{ $leafletMaterialIcon.Permalink }}" defer></script>

  <!-- Leaflet MarkerCluster: https://github.com/Leaflet/Leaflet.markercluster -->
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

  <!-- Leaflet MarkerCluster Freezable: https://github.com/ghybs/Leaflet.MarkerCluster.Freezable -->
  <script src="https://unpkg.com/leaflet.markercluster.freezable@1.0.0/dist/leaflet.markercluster.freezable.js"></script>
</head>
{{ end }}