{{ define "main" }}
<main>
  <div class="universal-wrapper pt-3">
    <div class="universal-wrapper">

      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ partial "vis-container.html" . }}
    </div>
  </div>
  {{ partial "pagination.html" . }}
</main>
<head>
  {{ $scss := resources.Get "scss/vis.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $scss.Permalink }}"></link>

  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

  <!-- Tom Select: https://tom-select.js.org/ -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

  {{ $ts := resources.Get "ts/vis.ts" | js.Build | fingerprint }}
  <script src="{{ $ts.Permalink }}" defer></script>

  <!-- D3.js: https://d3js.org/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@3"></script>
</head>
{{ end }}