html {
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(32, 33, 36);
    color: #ccc;
}

h1, h2, h3 {
    color: #ccc;
}

button {
    color: #ccc;
    background: #333;
    border: 1px solid #666;
    cursor: pointer;
}

button:hover {
    color: #333;
    background: #ccc;
}

.pointer {
    cursor: pointer;
}

/* Remove top header for visualization page to get more space */
.navbar {
    display: none;
}

.universal-wrapper {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.universal-wrapper > h1 {
    display: none;
}

#timeline-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#timeline {
    margin-left: auto;
    margin-right: auto;
    scale: 1;
}

.logo {
    display: flex;
}

#vis-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 50rem; /*shares height with .main-view*/
  }

.filters {
    grid-column: 1;
    //background: #f2471a;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-view {
    grid-column: 2;
    //background: #dddbff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50rem; /*shares height with #vis-container*/
}

.main-view-chars {
    //background: #acf54e;
    overflow-y: scroll;
}

.char-header, .play-header {
    position: sticky;
    top: 0;
    margin: 0;
    //background: red;
}

.char-header h2, .play-header h2 {
    background: black;
    margin: 0;
}

.main-view-plays {
    display: grid;
    grid-template-rows: 20% 80%;
}

.main-view-plays-chart {
    background: black;
}

.main-view-plays-table {
    //background: orange;
    height: 100%;
    overflow: scroll;
}

.main-view-plays-table #play-list {
    height: 5em;
    display: flex;
    flex-wrap: wrap;
}

.main-view-plays-table #play-list .play-card {
    background: #666;
    color: #ccc;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem #000;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
}

.main-view-plays-table #play-list .play-card .char {
    color: violet;
}

.vis-navbar {
    grid-column: 3;
    //background: #c3777f;
    width: 100%;
    height: 100%;
}

/* todo: improved loader styling */
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.paginationjs {
    display: flex;
    justify-content: center;
}

.paginationjs-pages li {
    margin-bottom: 5px;
    background: #eee;
    color: #666;
}

.ts-control .item, .ts-dropdown [data-selectable].option {
    text-transform: capitalize;
}

.char-list-show-play-unique-btn.active {
    color: green;
}

#char-list-pagination, #play-list-pagination {
    display: inline;
    background: red;
}

.char-icons, .play-icons {
    display: inline;
    float: right;
    margin-right: 1rem;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

#filter-gender, #filter-social-class, #filter-lang {
    display: flex;
    flex-direction: column;
}

.filter-btn.active {
    background: black;
    color: white;
}