:root {
    --main-bg-color: #ffffff;
    --sec-bg-color: #f7f7f7;
    --third-bg-color: #e9e9e9;
    --main-text-color: #000000;

    --accent-color: #00afb9;
    --accent-color-dark: #007f89;

    --error-color: #c72f2f;

    --border-color: #666;

    --timeline-color: rgba(0, 170, 141, 0.5);

    --lang-color-fre: rgba(21, 96, 189, 0.5);
    --lang-color-fre-active: rgba(0, 170, 255, 0.7);
    --lang-color-fre-play-card: rgb(0, 170, 255);
    --lang-color-fre-map-filter-btn: rgb(0, 135, 204);

    --lang-color-ger: rgba(246, 215, 18, 1);
    --lang-color-ger-active: rgba(255, 255, 0, 0.9);
    --lang-color-ger-active-sec: #ffc308;
    --lang-color-ger-play-card: rgb(235, 235, 0);
    --lang-color-ger-map-filter-btn: rgba(255, 255, 9, 0.83);

    --lang-color-als: rgba(250, 15, 54, 0.7);
    --lang-color-als-active: rgba(255, 25, 25, 0.87);
    --lang-color-als-active-sec: #ff1919;
    --lang-color-als-play-card: rgb(200, 50, 50);
    --lang-color-als-map-filter-btn: rgba(255, 25, 25, 0.7);
}

html {
    height: 100%;
}

body {
    font-size: 1vw;
}

body .fa-caret-down, body .fa-caret-up {
    visibility: hidden;
}

body .caret-force-visible {
    visibility: visible;
}

.pt-3 {
    padding-top: 0 !important; // body top padding applied by wowchemy
}

h1, h2, h3 {
    color: --var(main-text-color);
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1rem;
}

button {
    color: var(--main-text-color);
    background: var(--main-bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

button:hover {
    background: var(--third-bg-color);
}

div.disabled > button {
    pointer-events: none;
}

svg {
    height: auto;
    width: auto;
    vertical-align: baseline;
}

select {
    border: none;
    background: #ffffff;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

select:hover {
    box-shadow: 0 2px 4px 0 var(--accent-color), 0 0 0 1px var(--accent-color);
}

select:focus {
    outline: none;
    box-shadow: 0 2px 4px 0 var(--accent-color), 0 0 0 1px var(--accent-color);
}

select[disabled] {
    color: #ccc;
}

table {
    width: 100%;
    font-size: inherit;
}

footer {
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.active {
    color: white;
}

/* better scrollbar on browsers using webkit */
::-webkit-scrollbar {
    height: 1px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* Remove top header for visualization page to get more space */
.navbar {
    display: none;
}

.universal-wrapper {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.universal-wrapper > h1 {
    display: none;
}

.main-header {
    display: flex;
}

#timeline {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin-top: 0.7em;
    //padding-left: 2rem;
}

#header-btns {
    display: flex;
    flex: 1 2 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-left: 1px solid var(--border-color);
    padding-left: 1em;
}

.logo {
    scale: 0.8;
}

#vis-container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 0.8rem;
    width: 100%;
    min-height: 50vh;
    height: calc(98vh - 15px); // leave a bit of height for footer
    padding-right: 1.3rem;
    overflow: hidden;
    background: var(--sec-bg-color);
  }

.filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-column: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 0.7rem;
    padding-bottom: 13rem;
}

.filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter-header #filter-reset-btn {
    padding-left: 10px;
}

div[id^="filter"][id$="values"],
div[class^="filter"][class$="values"] {
    display: flex;
    flex-wrap: wrap;
}

div[id^="filter"][id$="values"] > button,
div[class^="filter"][class$="values"] > button {
    margin-right: 1px;
}

.filter-label {
    text-align: center;
}

.filter-btn {
    flex: 1 0 auto;
    position: relative;
}

.filter-btn.active:before {
    content: "";
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    height: 0.2rem;
}

.filter-btn[title="French"] {
    background: var(--lang-color-fre);
}

.filter-btn[title="French"]:hover, .filter-btn[title="French"].active {
    background: var(--lang-color-fre-active);
    color: black;
}

.filter-btn[title="French"].active:before {
    background: var(--lang-color-fre-active);
}

.filter-btn[title="German"] {
    background: var(--lang-color-ger);
    color: black;
}

.filter-btn[title="German"]:hover, .filter-btn[title="German"].active {
    background: var(--lang-color-ger-active);
    color: black;
}

.filter-btn[title="German"].active:before {
    background: var(--lang-color-ger);
}

.filter-btn[title="Alsatian"] {
    background: var(--lang-color-als);
}

.filter-btn[title="Alsatian"]:hover, .filter-btn[title="Alsatian"].active {
    background: var(--lang-color-als-active);
    color: white;
}

.filter-btn[title="Alsatian"].active:before {
    background: var(--lang-color-als-active);
}

.filter-gender-sub-header {
    display: flex;
}

.filter-gender-sub-header i {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.filter-gender-sub-char {
    width: 50%;
    padding-right: 4px;
}

.filter-gender-sub-author {
    width: 50%;
    padding-left: 4px;
}

.main-view {
    // grid-column: 2;
    // display: grid;
    // grid-template-rows: 20% 80%;
    min-height: 50vh;
    height: 90vh; /*shares height with #vis-container*/
    border-left: 1px solid var(--border-color);
    padding-left: 0.5em;
}

.results-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    background: var(--main-bg-color);
    height: 100%;
}

.main-view-chars {
    overflow-y: scroll;
    padding-right: 0.5rem; /* add space between magnifier icon and scrollbar */
}

.char-list-show-play-unique-btn[data-lang="fre"]:hover {
    color: var(--lang-color-fre);
}

.char-list-show-play-unique-btn[data-lang="ger"]:hover {
    color: var(--lang-color-ger);
}

.char-list-show-play-unique-btn[data-lang="als"]:hover {
    color: var(--lang-color-als);
}

.char-list-show-play-unique-btn[data-lang="fre"].active,
.play-list-show-char-unique-btn[data-lang="fre"].active {
    color: var(--lang-color-fre-active);
}

.char-list-show-play-unique-btn[data-lang="ger"].active,
.play-list-show-char-unique-btn[data-lang="ger"].active {
    color: var(--lang-color-ger-active-sec);
}

.char-list-show-play-unique-btn[data-lang="als"].active,
.play-list-show-char-unique-btn[data-lang="als"].active {
    color: var(--lang-color-als-active);
}

.char-header, .play-header {
    position: sticky;
    top: 0;
    margin: 0;
}

.char-header h2, .play-header h2,
.chart-header h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

.chart-header-desc {
    font-size: 0.7em;
    font-weight: normal;
    font-style: italic;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--third-bg-color);
    border-radius: 5px;
    padding: 0.5rem;
    height: 2rem;
    white-space: nowrap;
    z-index: 1; /* keep header on top when play-card is scaled on hover */
    gap: 1rem;
    font-size: 1em;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
}

[class$="progress"] {
    color: var(--accent-color-dark);
}

[id$="search-input"] {
    border: none;
    border-radius: 7px;
    text-indent: 0.2rem;
    transition: 100ms box-shadow ease-in-out;
}

[id$="search-input"]:focus {
    outline: none;
    box-shadow: 0 2px 4px 0 var(--accent-color), 0 0 0 1px var(--accent-color);
}

#char-list p[id*="char-p"] {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#char-list div[id*="char-p"] .page-circle {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 2em;
    line-height: 1em;
    padding: 0.4em;
    border: 2px solid var(--third-bg-color);
    font-weight: bold;
    background: var(--third-bg-color);
}

/* wrap names */
#char-list td:nth-child(1) {
    width: 33%;
}

/* give a bit more space to search icon */
#char-list td:nth-child(5) {
    display: inline;
    margin-right: 0.7rem;
}

#char-list tr:hover {
    background: var(--sec-bg-color);
}

.main-view-plays {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-view-plays-table {
    background: white;
    // fixes last item not appearing when scrolling if alone
    height: calc(100% - 6em);
    overflow: scroll;
}

.main-view-plays-table #play-list {
    height: 0;
    display: flex;
    flex-wrap: wrap;
}

/* page label */
.main-view-plays-table #play-list div[id*="play-p"] {
    flex-grow: 1;
    width: 100%;
}

.main-view-plays-table #play-list div[id*="play-p"] .page-circle {
    display: block;
    text-align: center;
    border-radius: 50%;
    width: 2em;
    line-height: 1em;
    padding: 0.4em;
    border: 2px solid var(--third-bg-color);
    font-weight: bold;
    margin: 0.5em auto 0 auto;
    background: var(--third-bg-color);
}

.main-view-plays-table #play-list .play-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
    width: calc(100% * (1/4));
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.play-card[data-lang="fre"] {
    box-shadow: inset 0 5px 0 var(--lang-color-fre-play-card), 0 2px 20px rgba(0, 0, 0, 0.2);
}

.play-card[data-lang="ger"] {
    box-shadow: inset 0 5px 0 var(--lang-color-ger-play-card), 0 2px 20px rgba(0, 0, 0, 0.2);
}

.play-card[data-lang="als"] {
    box-shadow: inset 0 5px 0 var(--lang-color-als-play-card), 0 2px 20px rgba(0, 0, 0, 0.2);
}

.main-view-plays-table #play-list .play-card .unique {
    font-weight: bold;
}

.play-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.play-card[data-lang="fre"]:hover {
    background: var(--lang-color-fre-play-card);
    color: white;
}

.play-card[data-lang="ger"]:hover {
    background: var(--lang-color-ger-play-card);
}

.play-card[data-lang="als"]:hover {
    background: var(--lang-color-als-play-card);
    color: white;
}

.play-card[data-lang="fre"]:hover > .play-list-show-char-unique-btn[data-lang="fre"].active,
.play-card[data-lang="als"]:hover > .play-list-show-char-unique-btn[data-lang="als"].active {
    color: white;
}

.play-card[data-lang="ger"]:hover > .play-list-show-char-unique-btn[data-lang="ger"].active {
    color: black;
}

.play-card .play-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.play-card-info {
    width: 100%;
}

.play-list-show-char-unique-btn {
    align-self: flex-start;
}

#chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--main-bg-color);
}

#chart .y-axis, #chart .x-axis {
    font-size: 1.3em;
}

.chart-tooltip {
    pointer-events: none;
    z-index: 2;
}

/* todo: improved loader styling */
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ts-control .item, .ts-dropdown [data-selectable].option {
    text-transform: capitalize;
}

#char-list-pagination, #play-list-pagination {
    display: inline;
}

.header-icons {
    margin-right: 0.5rem;
    font-size: 1.5em;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

#filter-gender, #filter-social-class, #filter-lang {
    display: flex;
    flex-direction: column;
}

.filter-btn.active {
    background: black;
    color: white;
}

.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.site-footer p {
    font-size: 0.7rem;
}

/* ======================== */
/* Timeline specific styles */
/* ======================== */

#timeline .metric-chart text {
	font-size: 9px;
	font-weight: bold;
	font-family: Helvetica, Arial, "sans serif";
}

#timeline .metric-chart rect.plot-background {
	fill: white;
}

#timeline .metric-chart path.line {
	fill: none;
	stroke: var(--timeline-color);
	stroke-width: 1.5px;
	clip-path: url(#clip);
}

#timeline .metric-chart path.area {
	fill: var(--timeline-color);
	opacity: 0.6;
	clip-path: url(#clip);
}

#timeline .metric-chart .axis {
	shape-rendering: crispEdges;
}

#timeline .metric-chart .x.axis .domain {
	display:none;
}

#timeline .metric-chart .x.axis line {
	stroke: white;
	opacity: 0.4;
}

#timeline .metric-chart .context .x.axis line {
	display: none;
}

#timeline .metric-chart .y.axis .domain {
	display: none;
}

#timeline .metric-chart .y.axis.title {
	font-size: 13px;
	font-weight: 100;
}

#timeline .metric-chart .y.axis line {
	stroke: #565656;
	stroke-dasharray: 2,2;
	stroke-opacity: 0.3;
}

#timeline .metric-chart .brush .extent {
  fill-opacity: .07;
  shape-rendering: crispEdges;
  clip-path: url(#clip);
}

#timeline .metric-chart rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

/* brush handles */
#timeline .metric-chart .resize .handle {
	fill: #555;
}

#timeline .metric-chart .resize .handle-mini {
	fill: white;
    stroke-width: 1px;
    stroke: #555;
}

#timeline .metric-chart .scale_button {
	cursor: pointer;
}

#timeline .metric-chart .scale_button rect {
	fill: var(--main-bg-color);
}

#timeline .metric-chart .scale_button:hover text {
	fill: var(--main-text-color);
	transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

#timeline .metric-chart text#displayDates {
	font-weight: bold;
}

#timeline .tl-disabled {
    opacity: 0.5;
    pointer-events: none !important;
}

/* =================== */
/* Map specific styles */
/* =================== */

#header-btns-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#header-btns-left i {
    font-size: 3em;
    flex: 1 0 auto;
    min-width: 30%;
}

#header-btns-left i:hover {
    color: var(--accent-color);
    transition: color 0.3s ease;
}

#header-btns-left i.disabled:hover {
    color: var(--error-color);
    transition: color 0.3s ease;
}

#map-overlay, #info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 3;
}

#info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
}

#info h1 {
    margin: 0;
    color: var(--accent-color);
    font-size: 2em;
}

#info p {
    text-align: left;
    font-size: 1.1em;
    margin: 0.5rem;
}

#info hr {
    background: white;
}

#info .fa-solid {
    margin: 0 0.3em;
}

.map-popup-title {
    font-size: 1.1rem;
    display: block;
    text-align: center;
    color: var(--accent-color);
}

#map-filter-window {
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    width: 10%;
    height: 100%;
}

.map-filter-title, .map-filter-label {
    color: white;
}

#map-filter-window-lang-values {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#map-filter-window-lang-values div > span {
    gap: 1.8rem;
}

.map-filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.map-filter-btn span {
    font-size: 1.8em;
    vertical-align: middle;
}

.map-filter-btn[data-lang="fre"].active {
    background: var(--lang-color-fre-map-filter-btn);
}

.map-filter-btn[data-lang="fre"].active span {
    color: white;
}

.map-filter-btn[data-lang="ger"].active {
    background: var(--lang-color-ger-map-filter-btn);
}

.map-filter-btn[data-lang="ger"].active span {
    color: white;
}

.map-filter-btn[data-lang="als"].active {
    background: var(--lang-color-als-map-filter-btn);
}

.map-filter-btn[data-lang="als"].active span {
    color: white;
}

.marker-cluster-small {
    background-color: rgb(140, 150, 198) !important;
}

.marker-cluster-small div {
    background-color: rgb(109, 116, 153) !important;
    color: #fff !important;
}

.marker-cluster-medium {
    background-color: rgb(136, 86, 167) !important;
}

.marker-cluster-medium div {
    background-color: rgb(112, 70, 138) !important;
    color: #fff !important;
}

.marker-cluster-large {
    background-color: rgb(129, 15, 124) !important;
}

.marker-cluster-large div {
    background-color: rgb(99, 11, 96) !important;
    color: #fff !important;
}

// https://github.com/ilyankou/Leaflet.IconMaterial/blob/master/dist/leaflet.icon-material.css
.l-icon-material {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
}

.l-icon-material .material-icons {
    font-size: 17px;
}