html {
    height: 100%;
    //Soverflow: hidden;
}

body {
    background: rgb(32, 33, 36);
    color: #ccc;
}

body .fa-caret-down, body .fa-caret-up {
    visibility: hidden;
}

body .caret-force-visible {
    visibility: visible;
}

footer {
    color: #ccc !important;
}

h1, h2, h3 {
    color: #ccc;
}

button {
    color: #ccc;
    background: #333;
    border: 1px solid #666;
    cursor: pointer;
}

button:hover {
    color: #333;
    background: #ccc;
}

svg {
    height: auto;
    width: auto;
    vertical-align: baseline;
}

table {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.active {
    color: white;
}

/* better scrollbar on browsers using webkit */
::-webkit-scrollbar {
    height: 1px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* Remove top header for visualization page to get more space */
.navbar {
    display: none;
}

.universal-wrapper {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.universal-wrapper > h1 {
    display: none;
}

#timeline-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scale: 1;
}

//todo: fix
.logo-container {
    display: flex;
    align-items: end;
    justify-content: end;
}

#vis-container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 0.8rem;
    width: 100%;
    min-height: 50vh;
    height: 80vh; /*shares height with .main-view*/
    padding-right: 1.3rem;
    border-top: 1px solid #666;
  }

.filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-column: 1;
    //background: #f2471a;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-header #filter-reset-btn {
    padding-top: 12px;
    padding-left: 10px;
}

.main-view {
    grid-column: 2;
    //background: #dddbff;
    display: grid;
    grid-template-rows: 20% 80%;
    min-height: 50vh;
    height: 80vh; /*shares height with #vis-container*/
    border-left: 1px solid #666;
    padding-left: 0.5em;
}

.results-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 64vh;
    gap: 0.5rem;
}

.main-view-chars {
    //background: #acf54e;
    overflow-y: scroll;
}

.char-header, .play-header {
    position: sticky;
    top: 0;
    margin: 0;
    //background: red;
}

.char-header h2, .play-header h2 {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.header-info {
    display: flex;
    gap: 5rem;
    align-items: center;
}

#char-list p[id*="char-p"] {
    margin-left: auto;
    margin-right: auto;
}

/* wrap names */
#char-list td:nth-child(1) {
    width: 33%;
}

/* give a bit more space to search icon */
#char-list td:nth-child(5) {
    display: inline;
    margin-right: 0.7rem;
}

.main-view-plays {
    display: grid;
    grid-template-rows: 20% 80%;
}

.main-view-plays-chart {
    background: black;
}

.main-view-plays-table {
    //background: orange;
    height: 100%;
    overflow: scroll;
}

.main-view-plays-table #play-list {
    height: 5em;
    display: flex;
    flex-wrap: wrap;
}

/* page label */
.main-view-plays-table #play-list span[id*="play-p"] {
    flex-grow: 1;
    width: 100%;
}

.main-view-plays-table #play-list .play-card {
    background: #666;
    color: #ccc;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem #000;
    flex-grow: 1;
    width: calc(100% * (1/4));
}

.main-view-plays-table #play-list .play-card .unique {
    color: rgba(255, 204, 0, 0.8);
}

/* todo: improved loader styling */
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.paginationjs {
    display: flex;
    justify-content: center;
}

.paginationjs-pages li {
    margin-bottom: 5px;
    background: #eee;
    color: #666;
}

.ts-control .item, .ts-dropdown [data-selectable].option {
    text-transform: capitalize;
}

#char-list-pagination, #play-list-pagination {
    display: inline;
}

.header-icons {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

#filter-gender, #filter-social-class, #filter-lang {
    display: flex;
    flex-direction: column;
}

.filter-btn.active {
    background: black;
    color: white;
}

/* ======================== */
/* Timeline specific styles */
/* ======================== */

#timeline .metric-chart text {
	fill: #ccc;
	font-size: 10px;
	font-weight: bold;
	font-family: Helvetica, Arial, "sans serif";
}

#timeline .metric-chart rect.plot-background {
	fill: white;
}

#timeline .metric-chart path.line {
	fill: none;
	stroke: #00AA8D;
	stroke-width: 1.5px;
	clip-path: url(#clip);
}

#timeline .metric-chart path.area {
	fill: #00AA8D;
	opacity: 0.6;
	clip-path: url(#clip);
}

#timeline .metric-chart .axis {
	shape-rendering: crispEdges;
}

#timeline .metric-chart .x.axis .domain {
	display:none;
}

#timeline .metric-chart .x.axis line {
	stroke: white;
	opacity: 0.4;
}

#timeline .metric-chart .context .x.axis line {
	display: none;
}

#timeline .metric-chart .y.axis .domain {
	display: none;
}

#timeline .metric-chart .y.axis.title {
	font-size: 13px;
	font-weight: 100;
}

#timeline .metric-chart .y.axis line {
	stroke: #565656;
	stroke-dasharray: 2,2;
	stroke-opacity: 0.3;
}

#timeline .metric-chart .brush .extent {
  fill-opacity: .07;
  shape-rendering: crispEdges;
  clip-path: url(#clip);
}

#timeline .metric-chart rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

/* brush handles */
#timeline .metric-chart .resize .handle {
	//fill: white;
    fill:red;
}

#timeline .metric-chart .resize .handle-mini {
	fill: #555;
    stroke-width: 1px;
    stroke: white;
}

#timeline .metric-chart .scale_button {
	cursor: pointer;
}

#timeline .metric-chart .scale_button rect {
	fill: rgb(32, 33, 36);
}

#timeline .metric-chart .scale_button:hover text {
	fill: #417DD6;
	transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

#timeline .metric-chart text#displayDates {
	font-weight: bold;
}