<div id="loader"></div>
<div id="timeline-header">
    <a class="logo" href="/"><img src="/media/logo_huadc22f77e32657c8541a8bd15cd135f1_3162_0x70_resize_lanczos_3.png" alt="Thealtres"></a>
    <div id="timeline">
</div>
</div>
<div id="vis-container">
    <div class="item filters">
        <h2>Filters</h2>
        <button id="filter-reset-btn">Reset</button>
        <div id="filter-list filter-fixed">
            <div id="filter-lang">
                <h3 class="filter-label">Tradition</h3>
                <div id="filter-lang-values"></div>
            </div>
            <div id="filter-gender">
                <h3 class="filter-label">Gender</h3>
                <div id="filter-gender-values"></div>
            </div>
            <div id="filter-profession">
                <h3 class="filter-label">Profession</h3>
                <div id="filter-profession-values"></div>
            </div>
            <div id="filter-social-class">
                <h3 class="filter-label">Social Class</h3>
                <div id="filter-social-class-values"></div>
            </div>
            <h3 class="filter-label">Publisher</h3>
            <select id="select-pub" placeholder="Search publishers..." autocomplete="off">
                <option value="">Search publishers...</option>
            </select>
            <h3 class="filter-label">Author</h3>
            <select id="select-author" placeholder="Search authors..." autocomplete="off">
                <option value="">Search authors...</option>
            </select>
        </div>
    </div>
    <div class="item main-view">
        <div class="item main-view-chars">
            <div class="char-header">
                <h2>
                    <span class="char-header-text">Characters</span>
                    <span class="char-progress"></span>
                    <span id="char-list-pagination"></span>
                    <div class="char-icons">
                        <i id="char-list-show-plays-btn" class="fa-solid fa-masks-theater pointer" rel="tooltip" title="Show Plays"></i>
                        <i id="char-list-sort-btn" class="fa-solid fa-sort sort-btn pointer" rel="tooltip" title="Sort by…"></i>
                    </div>
                </h2>
            </div>
            <div id="char-list"></div>
        </div>
        <div class="item main-view-plays">
            <div class="item main-view-plays-chart">
                <h2>Diagrams</h2>
            </div>
            <div class="item main-view-plays-table">
                <div class="play-header">
                    <h2>
                        <span class="play-header-text">Plays</span>
                        <span class="play-progress"></span>
                        <span id="play-list-pagination"></span>
                        <div class="char-icons">
                            <i id="play-list-show-chars-btn" class="fa-solid fa-people-group pointer" rel="tooltip" title="Show Characters"></i>
                            <i id="play-list-sort-btn" class="fa-solid fa-sort sort-btn pointer" rel="tooltip" title="Sort by…"></i>
                        </div>
                    </h2>
                </div>
                <div id="play-list"></div>
            </div>
        </div>
    </div>
    <div class="item vis-navbar"></div>
</div>